<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
	<typeAliases>
		<typeAlias type="global.sesoc.TOPproject.VO.User" alias="User" />
		<typeAlias type="global.sesoc.TOPproject.VO.Project" alias="Project" />
		<typeAlias type="global.sesoc.TOPproject.VO.Schedule" alias="Schedule" />
		<typeAlias type="global.sesoc.TOPproject.VO.Memo" alias="Memo" />
		<!--Notice추가  -->
		<typeAlias type="global.sesoc.TOPproject.VO.Notice" alias="Notice" />
		<!--Contextr 추가  -->
		<typeAlias type="global.sesoc.TOPproject.VO.Context" alias="Context"/>
		<!--Chat 추가  -->
		<typeAlias type="global.sesoc.TOPproject.VO.Chat" alias="Chat"/>
		
		<!--PersonalEdit  -->
		<typeAlias type="global.sesoc.TOPproject.VO.PersonalEdit" alias="PersonalEdit"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/projectMapper.xml" />
		<mapper resource="mapper/scheduleMapper.xml" />
	</mappers>
	
</configuration>
