<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="global.sesoc.TOPproject.DAO.ScheduleMapperInterface">
  
  
  
  <!-- ~~~~~~~~~~~~~~~~~~~~ U P D A T E ~~~~~~~~~~~~~~~~~~~~ -->
  
  <update id="updateUserSchedule" parameterType="Schedule">
  	UPDATE schedule_user
  	SET startdate = to_date(#{startdate}, 'yyyy-mm-dd hh24:mi'), 
  		enddate = to_date(#{enddate}, 'yyyy-mm-dd hh24:mi'), 
  		content = #{content},
  		color = #{color}
  	WHERE s_num = #{s_num}
  </update>
  
  
  <update id="updateProjectSchedule" parameterType="Schedule">
  UPDATE schedule_project
  	SET startdate = to_date(#{startdate}, 'yyyy-mm-dd hh24:mi'), 
  		enddate = to_date(#{enddate}, 'yyyy-mm-dd hh24:mi'), 
  		content = #{content},
  		color = #{color}
  	WHERE s_num = #{s_num}
		and
		p_num = #{p_num}
  </update>
  
  
  <update id="updateUserComplete" parameterType="int">
	 UPDATE schedule_user
	 SET complete = '1', color = '#bdbdbd'
	 WHERE s_num = #{s_num}
  </update>
  
  
  <update id="updateProjectComplete" parameterType="int">
	 UPDATE schedule_project
	 SET complete = 1, color = '#bdbdbd'
	 WHERE s_num = #{s_num}
  </update>
  
  
  
  <!-- ~~~~~~~~~~~~~~~~~~~~ S E L E C T ~~~~~~~~~~~~~~~~~~~~ -->
  
  <select id="selectSchedule" parameterType="String" resultType="Schedule">
  	SELECT s_num, id, startdate, enddate, content, color, deldate, complete
  	FROM schedule_user
  	WHERE id = #{id} and deldate is NULL
  </select>
  
  
  <select id="selectProjectSchedule" parameterType="String" resultType="Schedule">
	 SELECT s_num, p_num, startdate, enddate, content, color, complete
	 FROM schedule_project
	 WHERE p_num = #{p_num} and deldate is NULL
  </select>
  
  
  <select id="selectProjectComplete" parameterType="int" resultType="Schedule">
  	SELECT complete 
  	FROM schedule_project
  	WHERE p_num = #{p_num} 
  </select>
  
  
  
  <!-- ~~~~~~~~~~~~~~~~~~~~ I N S E R T ~~~~~~~~~~~~~~~~~~~~ -->
  
  <insert id="insertUserSchedule" parameterType="Schedule">
  	INSERT INTO schedule_user(
  		s_num, id, startdate, enddate, content, color
  	)VALUES(
  		user_s_num_seq.nextval,
  		#{id}, 
  		to_date(#{startdate}, 'yyyy-mm-dd hh24:mi'), 
  		to_date(#{enddate}, 'yyyy-mm-dd hh24:mi'), 
  		#{content},
  		#{color}
  	)
  </insert>
  
  
  <insert id="insertProjectSchedule" parameterType="Schedule">
  	INSERT INTO schedule_project(
  		s_num, p_num, startdate, enddate, content, color
  	)VALUES(
  		project_s_num_seq.nextval, 
  		#{p_num}, 
  		to_date(#{startdate}, 'yyyy-mm-dd hh24:mi'), 
  		to_date(#{enddate}, 'yyyy-mm-dd hh24:mi'), 
  		#{content},
  		#{color}
  	)
  </insert>
  
  
  
  <!-- ~~~~~~~~~~~~~~~~~~~~ D E L E T E ~~~~~~~~~~~~~~~~~~~~ -->
  
  <update id="deleteUserSchedule" parameterType="Schedule">
  	UPDATE schedule_user
  	SET deldate = SYSDATE
  	WHERE s_num = #{s_num} 
  		and id = #{id} 
  		and deldate is NULL
  </update>
  
  
  <update id="deleteProjectSchedule" parameterType="Schedule">
  	UPDATE schedule_project
  	SET deldate = SYSDATE
  	WHERE s_num = #{s_num} 
  		and p_num = #{p_num} 
  		and deldate is NULL
  </update>  
  
  
  
  
  
  </mapper>