html, body { height:100%}
body { margin : 0px; }
/* ul{list-style:none;list-style:none;padding:0px;margin-top: 30px;}
ul li{text-align:center;height: 60px;} */

/* 네비게이터 및 홈 시작 */

.join { margin: 10px 0px 0px 800px; }
.topspan1 { margin: 10px 0px 0px 30px; font-size: 25px; font-weight: bold; }
.topspan2 { margin: 10px 0px 0px 5px; font-size: 15px; }
.display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.display-container{position:relative}
.display-container:hover .display-hover{display:block}
.display-container:hover span.display-hover{display:inline-block}
.display-hover{display:none}
.opacity-min{opacity:0.75}
.content{max-width:980px;margin:auto}
.containerH:after,.containerH:before{content:"";display:table;clear:both}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-64{padding-top:64px!important;padding-bottom:64px!important}	
.center{display:inline-block;width:auto;text-align:center!important}
.large{font-size:18px!important}
.wide{letter-spacing:4px}
.light-grey{color:#000!important;background-color:#f1f1f1!important}
.dark-grey{color:#fff!important;background-color:#616161!important}
.padding-small{padding:4px 8px!important}

.scledulecss tr{
	width:100px;
	height: 55px;
}

.scledulecss th{
	width:130px;
	border: 10px;
}

a{
	text-decoration:none !important;
}

.scledulecss td{
	width:400px;
	border: 10px;
}

.site__title2{
	text-decoration:none !important;
    color: #30a5ff;
}

.site__title3{
	text-decoration:none !important;
    color: #5F5F5F;
    font-size: 25px;
}

.site__title33{
	text-decoration:none !important;
    color: #ffffff;
    font-size: 25px;
}

.site__title4{
	text-decoration:none !important;
    color: #ffffff !important;
    font-size: 16px !important;
}

.site__title5{
	text-decoration:none !important;
    color: #5F5F5F;
    font-size:17px !important;
}

.site__title6{
	text-decoration:none !important;
    color: #ffffff !important;
    font-size: 16px !important;
}

.logout{
    color: #ffffff !important;
    font-weight: bold;
}

.fontsize16{
	font-size:16px !important;
}

.fontsize20{
	font-size:20px !important;
}

.site__title, .site__title2:hover, .site__title2:focus,.site__title3:hover, .site__title3:focus,.site__title4:hover, .site__title4:focus {
    text-decoration:none !important;
    color: #30a5ff;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* 라디오버튼 */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20px;
}

/* Hide the browser's default radio button */
.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmarkb {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #86bcd7;
    border-radius: 50%;
}

.checkmarkr {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ff8080;
    border-radius: 50%;
}

.checkmarky {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffe179;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmarkb {
    background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmarkb {
    background-color: #3a87ad;
}

.container input:checked ~ .checkmarkr {
    background-color: #fa6565;
}

.container input:checked ~ .checkmarky {
    background-color: #ffe111;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkb:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmarkr:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmarky:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmarkb:after {
    display: block;
}
.container input:checked ~ .checkmarkr:after {
    display: block;
}
.container input:checked ~ .checkmarky:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmarkb:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.container .checkmarkr:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.container .checkmarky:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* 백그라운드 크기 지정 */
.bgimg-1{
	    /* background-attachment: fixed; */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
}
/* 백그라운드 이미지 선택 */
.bgimg-1 {
	    background-image: url('../img/team5.jpg');
	    min-height: 700px;
	    position: fixed;
}
.group_top{
		margin:auto;
		text-align:center;
		font-size : 70px;
		font-weight: bold;
		color: white;
	}
.group_middle{
		margin:auto;
		text-align:center;
		font-size : 35px;
		color: white;
	}
	
.group_buttom{
		margin:auto;
		text-align:center;
		font-size : 25px;
		color: white;
		/* border : 1px solid white; */
	}

a{
	text-decoration: none;
	}
.cG{
	color:#ffff00;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
	        background-attachment: scroll;
    	}
	}

.top{
	float:right;
	padding:16px;
	font-weight: lighter;
}

.top2{
	padding:16px 0px;
	font-weight: lighter;
}

.p3-block {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 20px !important;
}

.nabi-col.s3 {
    width: 15%;
	float: left;
}

.nabi-button{
	border:none;
	display:inline-block;
	padding-top:16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	white-space:normal;
	/* border-bottom: 1px solid white; */
 	transition: .7s ease-in-out; 
}

/*.nabi-button:hover{
	border-bottom: 2px solid #00bfff;
}

.nabi-button:disabled{cursor:not-allowed;opacity:0.3} */

.shadow{    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); padding:0px}

/* 네비게이터 및 홈 끝 */

/* 왼쪽 네비게이터 */

#naviLeft{
	top: 60px;
    height: 100%;
	width:70px;
	border-right: 1px solid #e7e7e7;
	background-color:#fafafa;
	float: left;
}

/* 왼쪽 네비게이터 끝 */

/* 개인페이지용 시작 */

.personalFriends{
	float: left;
}

.groupList{
	float: left;
}

.personalList{
	/* margin:auto;
	width: 50%; */
}

.personalListTable {
	margin-left: 40px;
}

.personalListTable tr {
	height : 30px;
}

.personalListTable .th0 {
	text-align: left;
	font-weight: normal;
	font-size: 25px;
	color : gray;
	padding-bottom: 15px;
}

.personalListTable .th1 {
	text-align: left;
	font-weight: normal;
	font-size: 13px;
}

#personalTOP{
	margin: 30px 0px 30px 30px;
	width:40%;
	height: 200px;
	float: left;
}

#personalMiddle{
	float: left;
	height: 300px;
}

.calendarP{
	float:right;
	margin: 30px 30px 30px 0px;
}

/* 개인페이지용 끝 */

/* 그룹페이지용 시작 */
.kaigi{
	width: 275.8px;
	height: 50px;
	padding : 10px 15px 10px 0px;
	margin: auto;
	text-align: center;
	font-size:18px;
	letter-spacing: 0.025em;
	line-height: 35px;
	background: #2e9df2;
    color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	border-radius: 3px;
}

.kaigi:hover{
	background: #30A5ff;
}


.top-group{
	width : 100%;
	height : 40px;
	background-color: #999999;
}

.topspan1 {
	margin : 10px 0px 0px 30px;
	font-size: 25px;
	font-weight : bold;
}
.topspan2 {
	margin : 10px 0px 0px 5px;
	font-size: 15px;
}

.one {
	background-color: #f2f5f5;
	width : 15%;
	height : 100%;
	float: left;
	margin-right: 10px;
	text-align: center;
}

.two {
	width : 100%;
	height: 50px;
	background-color: #000042;
	color:white;
	float: left;
	font-weight : bold;
	display:table;
	margin-top: 10px;
}

.groupName {
	height: 150px;
	width:95%;
	margin:10px auto 10px auto;
	/* 글씨 정중앙 정렬 1 */
	display:table;
}

	/* 글씨 정중앙 정렬 2 */
.center {
	display:table-cell;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	font-weight : bold;
}

.three {
	float: left;
	width:60%;
}

.threeTable {
	padding-left: 20px;
	width: 50%;
}

.threeTable tr {
	height : 30px;
}

.threeTable .th0 {
	text-align: left;
	font-weight: normal;
	font-size: 25px;
	color : gray;
}

.threeTable .th1 {
	text-align: left;
	font-weight: normal;
	font-size: 13px;
}

.threeTable td {
	width : 50px;
}

.paging {
	text-align: center;
}

.memberTitle{
	margin-bottom: 20px;
	font-size : 20px;
}

.four {
	float: right;
}


/* 그룹페이지용 끝 */

/* 페이지 로딩 */
#load {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.8;
	background: white;
	z-index: 99;
	text-align: center;
}

#load > img {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}