@CHARSET "UTF-8";

body{
	padding: 0;
	margin: 0;
}

.outer{
	position: absolute;
	width: 100%;
	height: 100%;
}



/* 에디터 */

.outer_editor{
	width: 80%;
	height: 100%;
	float: left;
}

.editor_menubar{
}


/* 채팅 부분 */

.outer_chat{
	width: 20%;
	height: 100%;
	float: left;
	background : #F0F8FF;
}

.notice{
	background : #FAEBD7;
}

.notice_content{
	background : #00FFFF;
}

.notice_btn{
	text-align: right;
	background :#7FFFD4
}

.chatLogView{
	height: 70%;
	background :#DEB887;
}


.outer_chatEditor{
	height: 20%;
	background :#6495ED;
}

.chatEditor_menubar{
	background :#A9A9A9;
}

.chatEditor_textView{
	background :#00BFFF;
}

.mine{
	float: right;
	background-color: yellow;
}

.other{
	float: left;
	background-color: blue;
}

.mine, .other{
	clear: both;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}